{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h1 class="login-heading mb-4">Profile</h1>

                <form method="POST">{% csrf_token %}
                  <div class="form-row">
                   <div class="col-md-10 offset-md-1">
                      <div class="form-group">
                        <label>E-mail Address</label>
                        {% render_field form.email class="form-control" %}
                        {{ form.email.errors }}
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                      <div class="form-group">
                        <label>Nickname</label>
                        {% render_field form.nick_name class="form-control" %}
                        {{ form.nick_name.errors }}
                      </div>
                    </div>
                  </div>

                <div class="form-row">
                  <div class="col-md-10 offset-md-1">
                    <div class="form-group mt-0 mb-1">
                      <button class="btn btn-lg btn-primary btn-block text-uppercase font-weight-bold mb-2" name="action" value="save_profile">Save</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-10 offset-md-1">
                  <div class="form-group mt-0 mb-1">
                    <div class="form-group mt-0 mb-1">
                      <a type="button" class="btn btn-lg btn-danger btn-block text-uppercase font-weight-bold mb-2" href="{% url 'profile' %}">Cancel</a>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
