{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
{% load static %}



<div class="container-fluid">
    {% block top_menu %}
    {% include 'top_panel.html' %}
    {% endblock %}
    <hr>

    <h3>{{questionnaire.title}}</h3>
    <h5>{{questionnaire.description}}</h5>
    <h5>Total questions: {{questions_total}}</h5>

    <hr>

    <a type="button" class="btn btn-primary"
       href="{% url 'question_of_questionnaire' result_id=0 questionnaire_id=questionnaire.id question_number=0 %}">Start test</a>

</div>

{% endblock content %}