{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}

<div class="row">
    {% for image in images %}
        {% block post_info %}
        {% include 'image_block.html' %}
        {% endblock %}
    {% endfor %}

    <div class="col-md-3 card">
<!--        <div class="row top-image-row position-relative">-->
            <div class="col text-center">
                <a type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#image_create_modal"> + Add new image + </a>
            </div>
<!--        </div>-->
    </div>

    {% block image_block_modals %}
    {% include 'image_block_modals.html' %}
    {% endblock %}
</div>

{% endblock content %}