{% load widget_tweaks %} {% block content %}

<div class="modal fade" id="image_create_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h5 class="modal-title w-100">
                    Upload new image
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" href="home">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form enctype="multipart/form-data" method="post" class="mt-3">
                    {% csrf_token %}
                    <div class="form-row d-flex justify-content-center">
                        <label for="images">Image:</label>
                        {% render_field image_create_form.image_field class="form-control" onchange="upload_img(this);" %}
                        {{ image_create_form.image_field.errors }}
                        <script>
                            function upload_img(input) {
                              if (input.files && input.files[0]) {
                                var src = URL.createObjectURL(input.files[0])
                                $('#img_id').attr('src', src)
                              }
                            }
                        </script>
                        <img class="img-fluid" id="img_id" src="#" style="height: 200px; object-fit: contain;">
                    </div>

                    <div class="form-row">
                        <label for="text">Text:</label>
                        {% render_field image_create_form.text class="form-control" %}
                        {{ image_create_form.text.errors }}
                    </div>
                    <hr>
                    <div class="float-right">
                        <button class="btn btn-primary" type="submit" name="action" value="create_image">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" href="home">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="edit_image_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change a image</h5>
                <a type="button" class="close" aria-label="Close" href="{% url 'home' %}">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <p>Do you really want to save changes?</p>

                <form enctype="multipart/form-data" method="post" class="mt-3">
                    {% csrf_token %}
                    {{ form }}

                    <div class="form-row d-flex justify-content-center">
                        <div class="col">
                            <label for="images">Image:</label>
                            {% render_field image_edit_form.image_field class="form-control" value=selected_image.image_field onchange="upload_img_2(this);" %}
                            {{ image_edit_form.image_field.errors }}
                            <script>
                                function upload_img_2(input) {
                                  if (input.files && input.files[0]) {
                                    var src = URL.createObjectURL(input.files[0])
                                    $('#img_2_id').attr('src', src)
                                  }
                                }
                            </script>

                            <label for="img_2_id">New image:</label>
                            <img class="img-fluid" id="img_2_id" src="#" style="height: 200px; object-fit: contain;">
                            <label for="old_img_2_id">Old image:</label>
                            <img class="img-fluid" id="old_img_2_id" src={{media_root}}{{selected_image.image_field}} style="height: 200px; object-fit: contain;">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <label for="old_text_id">Old text:</label>
                            <p class="pt-3" id="old_text_id">{{selected_image.text}}</p>
                            <label>New text:</label>
                            {% render_field image_edit_form.text class="form-control" value="{{ selected_image.text }}" %}
                            {{ image_edit_form.text.errors }}
                        </div>
                    </div>
                    <hr>
                    <div class="float-right">
                        <button class="btn btn-primary" type="submit" name="action" value="confirm_edit_image">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" href="home">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="delete_image_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete a image</h5>
                <a type="button" class="close" aria-label="Close" href="{% url 'home' %}">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete the image?</p>
                <form method="post" class="mt-3">
                    {% csrf_token %}
                    <a type="button" class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>

                    <div class="d-none">
                        {% render_field image_delete_form.image_id|append_attr:"readonly:readonly" class="form-control" value=selected_image.id %}
                    </div>
                    <button class="btn btn-danger" type="submit" name="action" value="confirm_delete_image">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
