{% load widget_tweaks %} {% block content %}


<div class="col-md-3 card">
    <div class="row top-image-row bg-info">
        <div class="ml-auto">
            <a type="button" class="btn btn-sm btn-outline-dark"  style="border-radius: 16px;"
               href="{% url 'home_image_by_id_by_action' selected_image_id=image.id image_action='edit' %}">Edit</a>
            <script>
                {% if selected_image != None and image_action == "edit" %}
                    $(function() {
                      $('#edit_image_modal').modal({show: true});
                    });
                {% endif %}
            </script>

            <a type="button" class="btn btn-sm btn-danger rounded-circle"
               href="{% url 'home_image_by_id_by_action' selected_image_id=image.id image_action='delete' %}">X</a>
            <script>
                {% if selected_image != None and image_action == "delete" %}
                    $(function() {
                      $('#delete_image_modal').modal({show: true});
                    });
                {% endif %}
            </script>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <img class="img-fluid img-thumbnail" src={{media_root}}{{image.image_field}} style="height: 200px; object-fit: contain;">
    </div>

    <div class="row d-flex justify-content-center">
        <p class="pt-3">{{image.text}}</p>
    </div>
</div>

{% block image_block_modals %}
{% include 'image_block_modals.html' %}
{% endblock %}

{% endblock content %}