{% load widget_tweaks %} {% block content %}

<style>

</style>

<div class="row top-row">
  <div class="col-md-10 col-lg-10">
  </div>
  <div class="col-md-2 col-lg-2">
      <div class="btn-group btn-group-lg" role="group">
        <button type="button" class="btn-sm btn-outline-dark">
          <a href="{% url 'profile' %}">Profile</a>
        </button>
        <button type="button" class="btn-sm btn-outline-dark">
          <a href="{% url 'logout' %}">Log out</a>
        </button>
      </div>
    </div>
</div>
{% endblock content %}